
  <div class="calltoaction wrapper">
    <h2>The Great Canadian Brewery Guide</h2>
    <p> Craft Beer in Canada is an ever growing industry with new breweries starting every year around the country. Great Canadian Breweries wants to curate all the cool Canadian breweries and make a list for all to use and enjoy good craft beer across the country. With information more than just the location and name, we want to be the only place people go on the web to find breweries across Canada. Letting consumers and coinsures know about new and old breweries and all they need to know before making the trek to the place where your favorite beer is made. Canadian craft beer is in its infancy and connecting Canada and the breweries together is our main goal.</p>
    <div class="line"></div>
  </div>
  