<div class="projects wrapper clearfix">
    <h2>Beer Run 2015</h2>
    <p>In the summer of 2015 Great Canadian Breweries will be driving across Canada, Starting from Tofino, BC and driving east to St Johns, NL (7,372 km), visiting all the great breweries along the way and documenting our travels and tours via video and blog entries. Hopefully this will help us gather great information and experience this great nation and all the great beer in it.</p>
    
    <div class="line"></div>
  </div>