<div class="contact clearfix">
  <div class="wrapper">
    <h2>Contact</h2>
    <p>Did we miss something? A amazing brewery, Something cool to do on our beer run or just want to give a thanks. Send us a email.</p>
    <h5><a href="mailto:greatcanadianbreweries@gmail.com">GreatCanadianBreweries@gmail.com</a></h5>
    <ul>
      
    </ul>
  </div>
  </div>