// Place all the styles related to the nearbybreweries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map {
  margin-bottom: 15px;
  width: 100%

}
.search input{
  width: 100%;
  height: 45px;
}

.card{
  width: 200px;
  float: left;
  min-height: 220px;
}

.card-stats ul{
  list-style-type: none;
  padding: 0px;
}

.card-copy {
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
  height: 60px;
  width: 190px;
}





