<%= form_for [beer, (@review || Review.new)] do |f| %>
  <div class="form-group">
    <%= f.label "Review #{beer.name}" %>
    <%= f.text_area :body, class: "form-control" %>
    <%= f.submit'Submit', :class => 'btn btn-default'%>
  </div>
  <hr>
<%end%>